<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <script src="https://kit.fontawesome.com/12f70b0cc4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/footer.css">
</head>
<body>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h4>VỀ HTP.VN</h4>
                <ul>
                    <li>Phản ánh - Khiếu nại</li>
                    <li>Chứng nhận đại lý</li>
                    <li>Tin tức công ty</li>
                    <li>Top list đồng hồ</li>
                    <li>Kiến thức đồng hồ</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>CHÍNH SÁCH CHUNG</h4>
                <ul>
                    <li>Điều khoản thanh toán</li>
                    <li>Chính sách bảo hành</li>
                    <li>Chính sách đổi trả</li>
                    <li>Chính sách bảo mật</li>
                    <li>Chính sách vận chuyển</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>LIÊN HỆ HỖ TRỢ</h4>
                <ul>
                    <li>Hotline 1: 093 189 2222</li>
                    <li>Hotline 2: 097 189 3333</li>
                    <li>Hotline 3: 096 139 5555</li>
                </ul>
                <h4>THEO DÕI CHÚNG TÔI TẠI</h4>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-section">
                <h4>CỬA HÀNG TP.HCM</h4>
                <ul>
                    <li>90 Lê Văn Sỹ, P11, Phú Nhuận, HCM</li>
                    <li>Mở cửa: 8h30 - 22h00</li>
                    <li>61 Quang Trung, P10, Gò Vấp, HCM</li>
                    <li>Mở cửa: 8h30 - 22h00</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>©2020-2024 by HTPStore.vn. Hotline: 093.189.2222 - Đại diện: HKD HTPStore Lê Văn Sỹ. Địa chỉ: 90 Lê Văn Sỹ, P11, Phú Nhuận, Tp.HCM. SĐT: 0971 112 997. Giấy chứng nhận kinh doanh số: 41P8026738 đăng ký lần đầu ngày 01/04/2024. Nơi cấp: Phòng Tài Chính - Kế Hoạch Q.Phú Nhuận</p>
        </div>
    </footer>    
</body>
</html>