<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        ul{
            display: flex;
            margin: 0;
            height: 50px;
            background-color: #d9d9d9;
            justify-content: center;
            align-items: center;
        }
        li{
            display: inline;
            margin-right: 20px;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
</head>
<body>
    <ul>
        <li>
            <a href=""><img src="/public/image/logo.png" alt="" height="50px"></a>
        </li>
        <li>Trang chủ</li>
        <li>Sản phẩm</li>
        <li>Giới thiệu</li>
        <li>Liên hệ</li>
        <li>Tin tức</li>
        <li><input type="text" name="search"></li>
    </ul>
