<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="../public/css/all.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/product-detail.css">
    <script src="https://kit.fontawesome.com/12f70b0cc4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href=""><img src="/public/image/logo.png" alt="" height="50px"></a>
            </li>
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Sản phẩm</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Tin tức</a></li>
            <li>
                <form action="" class="searchInput">
                    <input type="text" placeholder="Tìm kiếm" name="searchInput">
                    <i class="fa-solid fa-bars"></i>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </li>
            <li>
                <i class="fa-solid fa-cart-shopping"></i>
            </li>
            <li>
                <i class="fa-solid fa-user"></i>
            </li>
            <li>
                <i class="fa-solid fa-heart"></i>
            </li>
        </ul>
    </header>
    <div class="product-contain">
        <div class="product-image">
            <div class="contain-image">
                <div class="main-image">
                    <img src="../public/image/ho1.webp" alt="">
                </div>
                <div class="sub-image">
                    <img src="../public/image/ho1.webp" alt="">
                    <img src="../public/image/ho2.webp" alt="">
                    <img src="../public/image/ho3.webp" alt="">
                </div>
            </div>
        </div>
        <div class="details">
            <div class="product-name">
                <h1>Đồng Casio World Time AE-1200WHD-1AVDF –
                     Nam – Quartz (Pin) –
                     Mặt số thiên hướng không quân đương đại 
                     – Dây đeo kim loại bền bỉ</h1>
            </div>
            <div class="product-code"></div>
            <div class="product-pride"></div>
            <div class="product-detail"></div>

        </div>
    </div>


