<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" href="../public/css/all.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/product-detail.css">
    <script src="https://kit.fontawesome.com/12f70b0cc4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <ul>
            <li>
                <a href=""><img src="/public/image/logo.png" alt="" height="50px"></a>
            </li>
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Sản phẩm</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Tin tức</a></li>
            <li>
                <form action="" class="searchInput">
                    <input type="text" placeholder="Tìm kiếm" name="searchInput">
                    <i class="fa-solid fa-bars"></i>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </form>
            </li>
            <li>
                <i class="fa-solid fa-cart-shopping"></i>
            </li>
            <li>
                <i class="fa-solid fa-user"></i>
            </li>
            <li>
                <i class="fa-solid fa-heart"></i>
            </li>
        </ul>
    </header>
    <div class="container">
        <div class="product-contain">
            <div class="product-image">
                <div class="contain-image">
                    <div class="main-image">
                        <img src="../public/image/ho1.webp" alt="">
                    </div>
                    <div class="sub-image">
                        <img src="../public/image/ho1.webp" alt="">
                        <img src="../public/image/ho2.webp" alt="">
                        <img src="../public/image/ho3.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="details">
                <div class="product-name">
                    <h1>Đồng Casio World Time AE-1200WHD-1AVDF –
                        Nam – Quartz (Pin) –
                        Mặt số thiên hướng không quân đương đại 
                        – Dây đeo kim loại bền bỉ</h1>
                </div>
                <div class="product-code">
                    <h3>Mã Số Sản Phẩm: <span>AE-1200WHD-1AVDF</span></h1>
                </div>
                <div class="product-pride">
                    <span>1.506.000 đ</span>
                </div>
                <div class="product-detail">
                    <p>
                        Đồng hồ nam Casio AE-1200WHD-1AVDF 
                        thiết kế mặt số LCD vuông kích thước
                        phong cách quân đội, với những tính 
                        năng hiện đại tiện dụng, kết hợp với
                        dây đeo bằng kim loại đem lại vẻ 
                        mạnh mẽ cá tính dành cho phái mạnh.
                    </p>
                </div>
                <div class="product-button">
                    <button class="btn-showroom">Xem Showroom Còn Hàng</button>
                    <button class="btn-cart">Thêm Vào Giỏ Hàng</button>
                    <button class="btn-installment">Mua Trả Góp</button>
                </div>
                <div class="discount">
                    <div><h4>Ưu đãi thêm dự kiến áp dụng 2025</h4></div>
                    <hr>
                    <div><i class="fa-solid fa-check"></i> Dịch vụ gói quà miễn phí khi mua tại cửa hàng</div>
                    <div><i class="fa-solid fa-check"></i> Khi thanh toán qua momo:
                        <br>
                        <span>- Giảm 10% tối đa 30k cho đơn từ 200k</span>
                        <br>
                        <span>- Giảm 5% cho đơn từ 500k</span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="related-product-item">
            <div class="related-title">
                <h3>Sản phảm liên quan</h3>
            </div>
            <div class="related-products-list">
                <div class="related-product-item">
                    <img src="../public/image/ho3.webp" alt="Sản phẩm liên quan 1">
                    <p>Casio - Nam MTP-B145D-2AVDF</p>
                </div>
                <div class="related-product-item">
                    <img src="../public/image/ho3.webp" alt="Sản phẩm liên quan 2">
                    <p>Citizen - Nam NJ0151-88M</p>
                </div>
                <div class="related-product-item">
                    <img src="../public/image/ho3.webp" alt="Sản phẩm liên quan 3">
                    <p>Bentley - Nam BL2333-10MTCI</p>
                </div>
                <div class="related-product-item">
                    <img src="../public/image/ho3.webp" alt="Sản phẩm liên quan 4">
                    <p>Casio - Nam MTP-B145D-2AVDF</p>
                </div>
                <div class="related-product-item">
                    <img src="../public/image/ho3.webp" alt="Sản phẩm liên quan 5">
                    <p>Citizen - Nam NJ0151-88M</p>
                </div>
                <div class="related-product-item">
                    <img src="../public/image/ho3.webp" alt="Sản phẩm liên quan 5">
                    <p>Citizen - Nam NJ0151-88M</p>
                </div>
            </div>
        </div>
    


