body{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    margin: 0;
    height: 50px;
    background-color: #d9d9d9;
    justify-content: center;
    align-items: center;
}
li{
    display: inline;
    margin-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: #FF9721;
}
li i{
    font-size: 20px;
}
li i:hover{
    color: #FF9721;
    cursor: pointer;
}
input[name="searchInput"]{
    border-radius: 30px;
    padding-left: 30px;
    width: 200px;
    border: none;
    outline: none;
    height: 23px;
}
.searchInput{
    position: relative;
}
.searchInput i{
    position: absolute;
}
.fa-bars{
    left: 10px;
    top: 6px;
    font-size: 15px;
}
.fa-magnifying-glass{
    right: 10px;
    top: 6px;
    font-size: 15px;
}
input[name="searchInput"]::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}s